<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.DisplayStrings</key>
    <array>
      <string>あ</string>
      <string>き</string>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3531</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>uni3042</string>
      <string>.notdef</string>
    </array>
  </dict>
</plist>
