<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>uni3042</key>
    <string>uni3042.glif</string>
    <key>uni3046</key>
    <string>uni3046.glif</string>
    <key>uni3048</key>
    <string>uni3048.glif</string>
    <key>uni304A</key>
    <string>uni304A_.glif</string>
    <key>uni304B</key>
    <string>uni304B_.glif</string>
    <key>uni304D</key>
    <string>uni304D_.glif</string>
    <key>uni3051</key>
    <string>uni3051.glif</string>
    <key>uni3053</key>
    <string>uni3053.glif</string>
    <key>uni3055</key>
    <string>uni3055.glif</string>
    <key>uni3059</key>
    <string>uni3059.glif</string>
    <key>uni305B</key>
    <string>uni305B_.glif</string>
    <key>uni305D</key>
    <string>uni305D_.glif</string>
    <key>uni305F</key>
    <string>uni305F_.glif</string>
    <key>uni3061</key>
    <string>uni3061.glif</string>
    <key>uni3066</key>
    <string>uni3066.glif</string>
  </dict>
</plist>
