<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>uni3042</key>
    <string>uni3042.glif</string>
    <key>uni304D</key>
    <string>uni304D_.glif</string>
    <key>uni3055</key>
    <string>uni3055.glif</string>
    <key>uni305F</key>
    <string>uni305F_.glif</string>
    <key>uni3061</key>
    <string>uni3061.glif</string>
  </dict>
</plist>
